<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IExceptionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://james2012/WebForms/ExceptionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExceptionService"
                contract="ExceptionService.IExceptionService" name="BasicHttpBinding_IExceptionService" />
        </client>
    </system.serviceModel>
</configuration>